.modal-scope {
    z-index: 1111;
    background: rgba(0, 0, 0, 0.6);
  
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
  
    transition: all 0.3s ease-out;
}
  
.modal-box {
    $shadow: rgba(0, 0, 0, 0.5);
    border-radius: 0.25em;
    position: relative;

    overflow-y: auto;
    background: #f8f8f8;
    box-shadow: 0 0 60px 10px $shadow;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    max-width: 375px;
    height: 200px;

    > button {
        border-radius: 0.25em;
        background:#efefef;
        font-weight: bold;
        margin: 0.5em 0.6em 0 0;
        padding: 0.375em 0.75em;
        position: absolute;
        top: 0;
        right: 0;

        &:hover { background: #e2e6ea; }
        &:active { background: #d3d9df; }
    }
}

// TODO : style Save & Delete comp

.modal-content {
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-flow: column;

    .save-modal > *,
    .delete-modal > *
    { margin-bottom: 1em; }

    .modal-opts { margin-left: auto; }
    
    button {
        border: 1px solid transparent;
        background:#efefef;
        line-height: 1.5;
        border-radius: 0.25em;
        width: 35px;
        height: 35px;

        &:not(:first-child) { margin-left: 1em; }
        &:last-child { border-color: #ddd; }

        &:hover { background: #e2e6ea; }
        &:active { background: #d3d9df; }
    }
    .save-btn {
        // background: green;
        &:hover { background: #222; }
        &:active { background: #d3d9df; }
    }
    .delete-btn {
        background: red;
        &:hover { background: #222; }
        &:active { background: #d3d9df; }
    }
}

.save-modal {
    label {
        font-size: 0.875rem;
        display: block;
    }
    input {
        border: 1px solid #ddd;
        width: 100%;
        padding: 0.75em;

        &:focus { border-color: #000; }
    }
}

.delete-modal {
    > * { text-align: center; }
    p { font-weight: bold; }
    a { display: block; }
}