$save: #00c851;
$h-save: #00e25b;
$a-save: #218838;
$delete: #ff3547;
$h-delete: #ff4f5e;
$a-delete: #ce0012;

.modal-scope {
    z-index: 1111;
    background: rgba(0,0,0,0.6);
  
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0; 
}
  
.modal-box {
    border-radius: 0.25em;
    background: #f8f8f8;
    box-shadow: 0 0 60px 10px rgba(0,0,0,0.5);
  
    width: 100%;
    max-width: 375px;
    height: 200px;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow-y: auto;

    > button {
        border-radius: 0.25em;
        background:#efefef;
        font-weight: bold;
        
        margin: 0.5em 0.6em 0 0;
        padding: 0.375em 0.75em;
        
        position: absolute;
        top: 0;
        right: 0;

        &:hover { background: #e2e6ea; }
        &:active { background: #d3d9df; }
    }
}

.modal-content {
    width: 100%;
    max-width: 295px;
    display: flex;
    flex-flow: column;
    position: relative;

    .save-modal > *,
    .delete-modal > *
    { margin-bottom: 1em; }

    .modal-opts { 
        margin-left: auto; 

        button {
            width: 35px;
            height: 35px;
            
            &:not(:first-child) { margin-left: 1em; }
            &:first-child { color: #efefef; }
        }
    }

    .save-btn {
        border-color: $save;
        background: $save;

        &:hover { background:  $h-save; }
        &:active { background:  $a-save; }
    }
    .delete-btn {
        border-color: $delete;
        background: $delete;

        &:hover { background: $h-delete; }
        &:active { background: $a-delete; }
    }

    .modal-error {
        position: absolute;
        left: 0;
        bottom: -27%;
    }
}

.save-modal {
    label {
        font-size: 0.875rem;
        display: block;
    }
    input {        
        border: 1px solid #ddd;
        border-radius: 0.25em;
        width: 100%;
        padding: 0.75em;

        &:focus { border-color: #333; }
    }
}

.delete-modal {
    > * { text-align: center; }
    p { 
        letter-spacing: 0.01em;
        font-weight: bold; 
    }
    a { display: block; }
}