.modal-scope {
    z-index: 1010;
    background: rgba(0, 0, 0, 0.6);
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    transition: all 0.3s ease-out;
}
  
.modal-box {
    $shadow: rgba(0, 0, 0, 0.5);
    position: relative;

    overflow-y: auto;
    background: white;
    box-shadow: 0 0 60px 10px $shadow;
  
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    max-width: 375px;
    height: 200px;

    button {
        border-radius: 0.25em;
        background:#efefef;
        font-weight: bold;
        margin: 0.5em 0.6em 0 0;
        padding: 0.375em 0.75em;
        position: absolute;
        top: 0;
        right: 0;

        &:hover { background: #e2e6ea; }
        &:active { background: #d3d9df; }
    }
}  