.table-container {
    overflow-x: scroll;
}

/* .url-table th,  */
/* .url-table td */
/* { min-width: 200px; } */

////

#hero-fold {
    background: rgb(80,47,185);
    background-image: linear-gradient(180deg, 
        rgba(80,47,185,1) 0%,
        rgba(63,94,251,1) 75%,
    );
    // background-color: #7f53ac #647dee;
    height: 99vh; // ? EDIT
    padding: 0 1em;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.headlines {
    $txt-color: #f5f5f5;

    h1 {
        color: $txt-color;
        font-size: 5rem;
        font-weight: 700;
        em { 
            color: #eeaeca;
            font-style: unset; 
        }
    }
    p { 
        color: $txt-color;
        // font-size: 0.875rem;
        text-align: right;
        padding-right: 2.25em;
    }
}

@media (max-width: 510px) {
    .headlines h1 { font-size: 3.5rem; }
    .headlines p { padding-right: 1em; }
}