#hero-fold {
    background: rgb(80,47,185);
    background-image: linear-gradient(
        180deg, 
        rgba(80,47,185,1) 0%,
        rgba(63,94,251,1) 75%,
    );
    height: 99vh; // ? EDIT
    padding: 0 1em;
    // position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    // overflow: hidden;
    // ! MAKE divder responsive
    clip-path: ellipse(100% 93% at 50% 0);
    // display: none;
}

.headlines {
    $txt-color: #f5f5f5;

    h1 {
        color: $txt-color;
        font-size: 5rem;
        font-weight: 700;
        
        q { color: #eeaeca; }
    }
    p { 
        color: $txt-color;
        // font-size: 0.875rem;
        text-align: right;
        padding-right: 2.25em;
    }
}

.more-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 11%;
    // bottom: 5%;
}

@media (max-width: 815px) {
    // #hero-fold{  clip-path: ellipse(150% 100% at 50% 0); }
    #hero-fold { clip-path: circle(700px at top); }
}

@media (max-width: 525px) {
    .headlines h1 { font-size: 3.5rem; }
    .headlines p { padding-right: 1em; }
}