.table-container,
#url-form 
{ max-width: 675px; }


.table-container {
    overflow-x: scroll;
}
/* .url-table th,  */
/* .url-table td */
/* { min-width: 200px; } */


#url-form label {
    display: inline-block;
    width: 75px;
}