.table-container,
#url-form 
{ max-width: 675px; }


.table-container {
    overflow-x: scroll;
}

/* .url-table th,  */
/* .url-table td */
/* { min-width: 200px; } */


#url-form label {
    display: inline-block;
    width: 75px;
}

/*  */

.count {
    color: #343a40;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

a:hover { color: #007bff; }

table button {
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 0.25em;
    /* padding: 0.375em 0.75em; */
    transition: all 0.15s ease-in;
}

.show { border-color: #343a40; }
.show:hover { background: #343a40; }
.show:active {
    background: rgba(52,58,64,0.5);
    box-shadow: 0 0 0 0.2rem rgba(52,58,64,0.5);
}

.copy { border-color: #ffc107; }
.copy:hover { background: #ffc107; }
.copy:active { 
    background: rgba(255,193,7,0.5); 
    box-shadow: 0 0 0 0.2rem rgba(255,193,7,0.5); 
}

.delete { border-color: #dc3545; }
.delete:hover { background: #dc3545; }
.delete:active {
    background: rgba(220,53,69,0.5);
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,0.5);
}