/* 
 black / dimgray / gray / darkgray / lightgray / silver
 slategray / darkslategray / lightslategray /
 gainsboro / ghostwhite / whitesmoke / white
*/

html, body, #root { border: 1px solid darkslategray; }

header { border: 2px solid dimgray; }
main { border: 2px solid dimgray; }
footer { border: 2px solid dimgray; }

/* header > .web-layout { border: 2px solid slategray; } */
/* main .web-layout { border: 2px solid slategray; } */
/* footer > .web-layout { border: 2px solid slategray; } */

form { border: 2px solid black; }
table { border: 2px solid black; }
table *:not(a) { border: 1px solid gray; }

/* table button { */
    /* background: #000; */
/* } */