#url-form {
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 0.75em;
    max-width: 600px;
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 3.75em;

    &:focus-within { border-color: #eeaeca; }

    input {
        flex: 1 1 auto;
        padding: 1.25em;

        &:focus + label, 
        &:not(:placeholder-shown) + label 
        {
            top: 4%;
            // border-bottom: 1px solid #000;
            color: #000;
            font-size: 0.75rem;
        }
    }

    label {
        color: #8e8e8e;
        width: auto;
        position: absolute;
        top: 34%;
        left: 3%;
        transition: all 0.3s ease;
    }
    label * { margin: auto 0; }

    button {
        $btn-color: #eeaeca;

        background: $btn-color;
        font-weight: 700;
        text-transform: uppercase;
        padding: 1.25em;
        transition: all 0.3s ease-in;

        &:hover { background: lighten($btn-color, 5%); }
        &:active { background: darken($btn-color, 10%); }
    }
}