#url-form {
    $b-radius: 0.75em;
    $btn-color: #eeaeca;

    border: 2px solid transparent;
    border-radius: calc(0.1em + #{$b-radius});
    max-width: 600px;
    width: 100%;
    margin-top: 3.75em;
    
    position: relative;
    display: flex;

    &:focus-within { border-color: $btn-color; }

    input {
        $b-radius: 0.7em;
        
        border-radius: $b-radius 0 0 $b-radius;
        flex: 1 1 auto;
        padding: 1.25em;

        &:focus + label, 
        &:not(:placeholder-shown) + label 
        {
            top: 4%;
            color: #000;
            font-size: 0.75rem;
        }
    }

    label {
        color: #8e8e8e;
        width: auto;
        position: absolute;
        top: 34%;
        left: 3%;
        transition: all 0.3s ease;
    }

    button {
        $b-radius: 0.7em;

        border-radius: 0 $b-radius $b-radius 0;
        background: $btn-color;
        font-weight: bold;
        text-transform: uppercase;
        padding: 1.25em;
        transition: all 0.3s ease-in;

        &:hover { background: lighten($btn-color, 5%); }
        &:active { background: darken($btn-color, 10%); }
    }

    .link-error {
        position: absolute;
        top: -70%;
        left: 0;
    }
}