.result {
    $b-radius: 0.75em;
    $top-gap: 120%;

    background: rgba(0,0,0,0.5);
    border-radius: $b-radius;
    max-width: 600px;
    width: 100%;
    height: 50px;
    margin-top: 1.875em;
    position: relative;

    .c-link-btn, 
    .c-edit-inp
    {
        border-radius: $b-radius;
        width: 100%;
        height: 100%;
        padding: 0 1.25em;
    }
    .c-link-btn { background: #eeaeca; }
    .c-edit-inp:focus { border: 2px solid #eeaeca; }

    label {
        color: #f5f5f5;
        position: absolute;
        top: -40%;
        left: 0;
    }

    .result-opts {
        position: absolute;
        top: $top-gap;
        right: 0;

        button {
            font-weight: bold;
            width: 35px;
            height: 35px;

            &:not(:first-child) { margin-left: 1em; }
            &:first-child { color: #00c851; }
        }
    }

    .custom-error {
        position: absolute;
        top: $top-gap;
        left: 0;
    }
}

.hide { visibility: hidden; }